{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소식</title>
    <link rel="stylesheet" href="{% static 'css/advice_list.css' %}" />
</head>
<body>
    <div id="wrap">
        <!-- Header -->
        <header class="header">
            <div class="header__menu">
                <a class="header__menu__item homeText" href="{% url 'home' %}">MUSE</a>
                <a class="header__menu__item" href="{% url 'home:advice_list' %}">소식</a>
                <a class="header__menu__item" href="#mypage">마이페이지</a>
                <a class="header__menu__item" href="#community">커뮤니티</a>
            </div>
            <div class="header__menu">
                <a class="header__menu__item" href="#login">로그인</a>
                <a class="header__menu__item" href="#join">회원가입</a>
            </div>
        </header>
        </div>
        <div class="container">
        <h1>소식</h1>
        <div class="top-bar">
            <a href="{% url 'home:advice_write' %}" class="write-post">작성하기</a>
            <form action="{% url 'home:advice_list' %}" method="get" class="search-form">
                <select name="search_type">
                    <option value="title" {% if request.GET.search_type == "title" %}selected{% endif %}>제목</option>
                    <option value="content" {% if request.GET.search_type == "content" %}selected{% endif %}>글</option>
                    <option value="nickname" {% if request.GET.search_type == "nickname" %}selected{% endif %}>작성자</option>
                </select>
                <input type="text" name="search" placeholder="Search" value="{{ request.GET.search }}">
                <button type="submit">Search</button>
            </form>
        </div>

        <ul>
            {% for advice in advices %}
                <li>
                    <h2><a class="post__title" href="{% url 'home:advice_detail' advice.pk %}">{{ advice.title }}</a></h2>
                    <br>
                    {% if advice.photo %}
                        <img src="{{ advice.photo.url }}" alt="{{ advice.title }}" class="fixed-size">
                    {% endif %}
                    <p>{{ advice.content|truncatechars:45 }}</p>
                    <br><br>
                    <div class="post-meta__container">
                        <div class="post-meta__container1">
                            <p class="post-meta--strong">작성자: {{ advice.author.username }}</p>
                            <p class="post-meta--strong">직업 정보: {{ advice.author.job_info.company_name }} {{ advice.author.job_info.department }} {{ advice.author.job_info.position }} </p>
                            <p class="post-meta--strong">{{ advice.created_at|date:"Y-m-d H:i:s" }}</p>
                        </div>
                        <div class="post-meta__container2">   
                            <p class="post-meta_likes">좋아요: {{ advice.like_count }} | 댓글: {{ advice.comments.count }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
