{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/job_select.css' %}" />
    <title>직무 선택</title>
  </head>
  <body>
    <div class="text">직무 선택</div>
    <form method="POST">
      {% csrf_token %}
      <div class="colset">
        <div class="left">
          <input type="radio" id="경영/관리" name="job_category" value="경영/관리" />
          <label for="경영/관리">경영/관리</label>

          <input type="radio" id="IT/인터넷" name="job_category" value="IT/인터넷" />
          <label for="IT/인터넷">IT/인터넷</label>

          <input type="radio" id="연구개발/설계" name="job_category" value="연구개발/설계" />
          <label for="연구개발/설계">연구개발/설계</label>

          <input type="radio" id="마케팅/PR" name="job_category" value="마케팅/PR" />
          <label for="마케팅/PR">마케팅/PR</label>

          <input type="radio" id="전문직" name="job_category" value="전문직" />
          <label for="전문직">전문직</label>

          <input type="radio" id="디자인" name="job_category" value="디자인" />
          <label for="디자인">디자인</label>

          <input type="radio" id="방송/언론" name="job_category" value="방송/언론" />
          <label for="방송/언론">방송/언론</label>

          <input type="radio" id="교육 전문직" name="job_category" value="교육 전문직" />
          <label for="교육 전문직">교육 전문직</label>

          <input type="radio" id="의료 전문직" name="job_category" value="의료 전문직" />
          <label for="의료 전문직">의료 전문직</label>
        </div>

        <div class="right">
          <input type="radio" id="영업" name="job_category" value="영업" />
          <label for="영업">영업</label>

          <input type="radio" id="건설" name="job_category" value="건설" />
          <label for="건설">건설</label>

          <input type="radio" id="생산/제조" name="job_category" value="생산/제조" />
          <label for="생산/제조">생산/제조</label>

          <input type="radio" id="금융전문직" name="job_category" value="금융전문직" />
          <label for="금융전문직">금융전문직</label>

          <input type="radio" id="생활/서비스" name="job_category" value="생활/서비스" />
          <label for="생활/서비스">생활/서비스</label>

          <input type="radio" id="문화/예술" name="job_category" value="문화/예술" />
          <label for="문화/예술">문화/예술</label>

          <input type="radio" id="조사/분석" name="job_category" value="조사/분석" />
          <label for="조사/분석">조사/분석</label>

          <input type="radio" id="공무원/정치인" name="job_category" value="공무원/정치인" />
          <label for="공무원/정치인">공무원/정치인</label>

          <input type="radio" id="기타전문직" name="job_category" value="기타전문직" />
          <label for="기타전문직">기타전문직</label>
        </div>
      </div>
      <button type="submit">Save</button>

      <div class="messages">
        {% for message in messages %}
        <div class="message {% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% endif %}">
          {{ message }}
        </div>
        {% endfor %}
      </div>
    </form>
  </body>
</html>
