{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}" />
    <title>My Page</title>
  </head>

  <body>
    <header class="header">
      <div class="header__menu">
        <a class="header__menu__item homeText" href="#home">MUSE</a>
        <a class="header__menu__item" href="{% url 'home:advice_list' %}">소식</a>
        <div class="mypage-button">
          <a class="header__menu__item" href="{% url 'mypage' %}">마이페이지</a>
        </div>
        <div class="community-button">
          <a class="header__menu__item" href="{% url 'post' %}">커뮤니티</a>
        </div>
      </div>
    </header>
    <div class="set">
      <div class="sidebar">
        <h2 class="mypage">My Page</h2>
        <ul>
          <hr />
          <li class="mymy">자기소개</li>
          <li>
            <div class="hh">활동</div>
            <hr />
            <ul class="bb">
              <li><a href="{% url 'my-posts' %}">작성한 글 보기</a></li>
              <li><a href="{% url 'my-comments' %}">작성한 댓글 보기</a></li>
              <li><a href="{% url 'scrapped-list' %}">작성한 스크랩 보기</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="center">
          <div class="profile-section">
            <img src="{% static 'img/userphoto.png' %}" alt="Profile Image" class="profile-image" />
            <div class="profile-info">
              <div class="nick">
                <div class="text1">닉네임</div>
                <div class="box1">
                  <h2 class="users">{{ user.nickname }}</h2>
                </div>
              </div>
              <div class="nick">
                <div class="text1">직업 분야</div>
                <div class="box1">
                  <p class="users">{{ user.job_type }}</p>
                </div>
              </div>

              <button onclick="document.getElementById('edit-profile-form').style.display='block'">Edit</button>
            </div>
          </div>
        </div>
        <div id="edit-profile-form" class="form-section" style="display: none">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Save</button>
          </form>
        </div>
        <div class="form-section">
          <h2 class="ii">재직 정보</h2>
          <form method="post">
            {% csrf_token %}
            <div class="row1">
              <label>재직 여부</label>
              <div class="ing">재직 중{{ form.is_employed }}</div>
            </div>
            <div class="yyy">
              <div class="yy1"><label>입사 년도</label> {{ form.start_year }}</div>
              <div class="yy2"><label>퇴사 년도</label> {{ form.end_year }}</div>
            </div>
            <label>회사 이름</label> {{ form.company_name }} <label>직책</label> {{ form.position }} <label>부서</label> {{ form.department }}
            <button type="submit">저장하기</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
